.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px;
    width: 250px;
    border-radius: 10px;
    border: 2px solid white;
}
.quotes-grid{
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
    width: auto;
}

.card-container{
    width: 100%;
    align-items: start;
    
}
h2{
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    text-align: center;
}
.quotes-p{
    padding: 20px;
    text-align: center;
}
.quotes-emj{
    padding-left: 20px;
    padding-right: 20px;
   
}
.card-top{
    background-color: white;
    min-height: 100px;
    align-content: center;

}